﻿@{ 
    string AdminName = "";
    if (User.Identity.IsAuthenticated)
    {
        MembershipUser user = Membership.GetUser();
        var profile = System.Web.Profile.ProfileBase.Create(user.UserName);
        AdminName = Convert.ToString(profile.GetPropertyValue("Name"));
    }

}
<div id="navigation">
    <div class="profile-picture">
        <img src="~/Images/profile.jpg" class="img-circle m-b" alt="logo">

        <div class="stats-label text-color">
            @*<span class="font-extra-bold font-uppercase">@AdminName</span>*@

            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted">Administrator</small>
                </a>
               
            </div>
            
        </div>
    </div>

    <ul class="nav metismenu" id="side-menu">
        
        @{
            if (User.IsInRole("admin"))
            {
                <li class="@Html.IsSelected(controller: " Dashboard")">
                    <a href="@Url.Action("Index", "Dashboard" )"> <span class="nav-label"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</span><span class="fa arrow"></span> </a>
                </li>

                <li>
                    <a href="@Url.Action("Category", "CommonViews" )"> <span class="nav-label"><i class="fa fa-list-alt" aria-hidden="true"></i>Category</span><span class="fa arrow"></span> </a>
                </li>
                <li>
                    <a href="@Url.Action("eBook", "CommonViews" )"><span class="nav-label"><i class="fa fa-book" aria-hidden="true"></i>e-Book</span><span class="fa arrow"></span> </a>
                </li>
                <li>
                    <a href="@Url.Action("ManageUsers", "User" )"><span class="nav-label"><i class="fa fa-user" aria-hidden="true"></i> Manage Users</span><span class="fa arrow"></span> </a>
                </li>
            }

            if (User.Identity.IsAuthenticated)
            {
                <li>
                    <a href="@Url.Action("Login", "User" )"><span class="nav-label"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</span><span class="fa arrow"></span> </a>
                </li>
            }
        }
    </ul>
</div>