﻿@{
    ViewBag.Title = "Dashboard";
}

<div class="content">
    <div class="row">
        <div class="col-lg-12 text-center m-t-md">
            <h2>
                Welcome to Admin Panel
            </h2>

            @*<p>
                    Special <strong>Admin Theme</strong> for small, medium and large webapp with very clean and aesthetic style and feel.
                </p>*@
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
                    @*<div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>*@
                   Admin Dashboard            
        </div>
    
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                   &nbsp;
                </div>
                <div class="panel-body">
                    
                    <div class="stats-title pull-left">
                        <h4>Total Users</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="fa fa-user fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="m-t-xl">
                        <h1 class="text-success"><strong>@(ViewBag.UserCount??0)</strong></h1>                       
                    </div>
                    <div class="small" style="float:right;">
                        <a href="@Url.Action("ManageUsers", "User" )" class="text-success"> <strong>View All</strong> </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    &nbsp;
                </div>
                <div class="panel-body">

                    <div class="stats-title pull-left">
                        <h4>Total Category</h4>
                    </div>
                    <div class="stats-icon pull-right">
                        <i class="fa fa-list-alt fa-4x" aria-hidden="true"></i>
                    </div>
                    <div class="m-t-xl">
                        <h1 class="text-success"><strong>@(ViewBag.Categorycount??0)</strong></h1>                      
                    </div>
                    <div class="small" style="float:right;">
                        <a href="@Url.Action("Category", "CommonViews" )" class="text-success"> <strong>View All</strong> </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel">
                <div class="panel-heading">
                    &nbsp;
                </div>
                <div class="panel-body">
                        <div class="stats-title pull-left">
                            <h4>Total e-book</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="fa fa-book fa-4x" aria-hidden="true"></i>
                        </div>
                        <div class="m-t-xl">
                            <h1 class="text-success"><strong>@(ViewBag.BookCount??0)</strong></h1> 
                        </div>
                        <div class="small" style="float:right;">
                            <a href="@Url.Action("eBook", "CommonViews" )" class="text-success"> <strong>View All</strong> </a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/flot/js")

        <script type="text/javascript">

            $(function () {

                /**
                 * Flot charts data and options
                 */
                var data1 = [[0, 55], [1, 48], [2, 40], [3, 36], [4, 40], [5, 60], [6, 50], [7, 51]];
                var data2 = [[0, 56], [1, 49], [2, 41], [3, 38], [4, 46], [5, 67], [6, 57], [7, 59]];

                var chartUsersOptions = {
                    series: {
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                    },
                    grid: {
                        tickColor: "#f0f0f0",
                        borderWidth: 1,
                        borderColor: 'f0f0f0',
                        color: '#6a6c6f'
                    },
                    colors: ["#62cb31", "#efefef"],
                };

                $.plot($("#flot-line-chart"), [data1, data2], chartUsersOptions);

                /**
                 * Flot charts 2 data and options
                 */
                var chartIncomeData = [
                    {
                        label: "line",
                        data: [[1, 10], [2, 26], [3, 16], [4, 36], [5, 32], [6, 51]]
                    }
                ];

                var chartIncomeOptions = {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 0,
                            fill: true,
                            fillColor: "#64cc34"

                        }
                    },
                    colors: ["#62cb31"],
                    grid: {
                        show: false
                    },
                    legend: {
                        show: false
                    }
                };

                $.plot($("#flot-income-chart"), chartIncomeData, chartIncomeOptions);


            });
        </script>
    }
