﻿@model Swunmath.Model.CategoryModel
@{
    ViewBag.Title = "Add Category";
}

@using (Html.BeginForm("AddCategory", "CommonViews"))
{
    <div class="col-lg-10">
        <div class="hpanel">
            <div class="panel-heading">
                Add category
            </div>
            <div class="panel-body">
                <form class="form-horizontal">                   
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Category Name</label>
                        <div class="col-sm-4">@Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", id="CategoryName" })</div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status</label>

                        <div class="col-sm-3">
                            @Html.CheckBoxFor(m=>m.Status)
                            @*<select class="form-control m-b" name="status">
                                <option>Select</option>
                                <option>Active</option>
                                <option>InActive</option>
                            </select>*@
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <input class="btn btn-default" type="button" onclick="Cancel()" value="Cancel" />
                            @*<button class="btn btn-default" type="submit">Cancel</button>*@
                            <input class="btn btn-primary" type="submit" value="Save Changes" onclick="return Validate()" />
                            @*<button class="btn btn-primary" type="submit">Save Changes</button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<script>
    function Cancel() {
        history.go(-1);
    }

    function Validate() {
        if ($("#CategoryName").val().trim() == "") {
            alert("Please enter the category name.");
            return false;
        }
        return true;
    }
</script>