﻿@model Swunmath.Model.eBookModel

@{
    ViewBag.Title = "Add eBook";
}

@{
    List<SelectListItem> listBookTypes = new List<SelectListItem>();
    listBookTypes.Add(new SelectListItem
    {
        Text = "Teacher",
        Value = "T"
    });
    listBookTypes.Add(new SelectListItem
    {
        Text = "Student",
        Value = "S",
    });
}

@using (Html.BeginForm("AddeBook", "CommonViews", FormMethod.Post, new { encType = "multipart/form-data" }))
{



    <div class="col-lg-10">
        <div class="hpanel">
            <div class="panel-heading">
                Add eBook
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">eBook ID:</label>
                                @Html.TextBoxFor(m => m.eBookId, new { @class = "form-control", id = "BookId" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">eBook Title:</label>
                                @Html.TextBoxFor(m => m.eBookTitle, new { @class = "form-control", id = "BookTitle" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Category</label>
                                @{Swunmath.CategoryBL cat = new Swunmath.CategoryBL(); }

                                @Html.DropDownListFor(m => m.Category, cat.GetAllCategory().Where(d => d.Status == true).Select(X => new SelectListItem { Value = X.Id.ToString(), Text = X.CategoryName }), new { @class = "form-control", id = "ddlCategory" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Publish eBook:</label>
                                @Html.CheckBoxFor(m => m.Status, new { @class = "form-control", id = "chkPublished" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Upload Zip</label>
                                @Html.TextBoxFor(m => m.file, new { type = "file", @class = "form-control", id = "uploadZip" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Upload Thumbnail</label>
                                @Html.TextBoxFor(m => m.Thumbnail, new { type = "file", @class = "form-control", id = "Thumbnail" })
                                @Html.HiddenFor(m => m.Id, new { id = "HiddenId" })
                            </div>
                        </div>
                        @{
                            if (Model.Id > 0)
                            {
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Published PDF</label><br />
                                        <a target="_blank" href="@("/swunmath/" + Model.PdfPath)">@Model.eBookTitle</a>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Thumbnail</label>
                                        <img height="100" width="100" src="@Url.Content("~/Images/Thumbnail/"+Model.ThumbnailPath)" alt="@Model.eBookTitle" />
                                    </div>
                                </div>
                            }
                        }

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Book Type:</label>
                                @Html.DropDownListFor(model => model.BookType, listBookTypes, new { @class = "form-control", id = "ddlCategory" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <input class="btn btn-default" type="button" onclick="Cancel()" value="Cancel" />
                            @*<button class="btn btn-default" type="submit">Cancel</button>*@
                            <input class="btn btn-primary" type="submit" value="Save Changes" onclick="return Validate()" />
                            @*<button class="btn btn-primary" type="submit">Save Changes</button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<script>
    function Cancel() {
        history.go(-1);
    }

    function Validate() {
        if ($("#BookId").val().trim() == "") {
            alert("Please enter a Book ID");
            return false;
        }

        if ($("#BookTitle").val().trim() == "") {
            alert("Please enter a book title.")
            return false;
        }

        if ($("#HiddenId").val() == "0") {
            if ($("#uploadZip").val().substring($("#uploadZip").val().lastIndexOf(".")) != ".zip") {
                alert("Please upload a SWUNMATH published zip file.");
                return false;
            }

            var validImages = [".jpg", ".png", ".jpeg"];

            if (validImages.indexOf($("#Thumbnail").val().substring($("#Thumbnail").val().lastIndexOf("."))) < 0) {
                alert("Please upload an image for thumbnail.");
                return false;
            }
        }
        return true;
    }

</script>

