﻿@model IEnumerable<Swunmath.Model.CategoryModel>
    @{ ViewBag.Title = "Category"; }

    <div class="content">
        <div class="row">
            <div class="col-lg-12">

                <div class="hpanel">
                    <div class="panel-heading">
                        View Category
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <input style="float:right;" class="btn btn-info" type="button" value="+ Add" onclick="location.href='@Url.Action("Addcategory", "CommonViews",new { id = 0 })'" />
                            <br /><br />
                            <table id="example2" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Category Name</th>
                                        <th>Created On</th>
                                        <th>Book Count</th>
                                        <th>Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodydata">
                                    @{ int rowNo = 0; }
                                    @foreach (var item in Model)
                                    {
                                        <tr class='text-center'>
                                            <td>
                                                @(rowNo += 1)
                                            </td>
                                            <td>
                                                @item.CategoryName
                                            </td>
                                            <td>
                                                @item.CreatedOn.ToString("MM/dd/yyyy")
                                            </td>
                                            <td>
                                                @item.BookCount
                                            </td>
                                            <td>
                                                <input type="checkbox" class="form-control" checked="@item.Status" disabled/>
                                            </td>
                                            <td>
                                                <input type="button" value="Edit" class="btn btn-info" onclick="location.href='@Url.Action("AddCategory", "CommonViews",new { id = item.Id })'" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    @section Styles {
        @Styles.Render("~/bundles/datatables/css")
    }

    @section Scripts {
        @Scripts.Render("~/bundles/datatables/js")
        @Scripts.Render("~/bundles/datatablesBootstrap/js")
        @Scripts.Render("~/bundles/datatablesPlugins/js")

        <script type="text/javascript">

        $(function () {

            // JSON data
            var chartDataUrl = '@Url.Action("tableJsonData", "Tables")';

            // Initialize Example 1
            $('#example1').dataTable({
                "ajax": chartDataUrl,
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ]
            });

            // Initialize Example 2
            $('#example2').dataTable();

        });

        </script>
    }

