﻿@using System.Configuration;
@model IEnumerable<Swunmath.Model.eBookModel>
@{
    ViewBag.Title = "eBook";
}

    <div class="content">
        <div class="row">
            <div class="col-lg-12">

                <div class="hpanel">
                    <div class="panel-heading">
                        View e-Book
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <button class="btn btn-info" style="float:right;" onclick="location.href='@Url.Action("AddeBook", "CommonViews",new { id = 0 })'">+ Add</button><br /><br />
                            <table id="example2" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>e-Book ID</th>
                                        <th>e-Book Title</th>
                                        <th>Thumbnail</th>
                                        <th>Year</th>
                                        <th>Status</th>
                                        <th>Category</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int a = 0;
                                        string studentlink = Convert.ToString(ConfigurationManager.AppSettings["Studentlink"]); 
                                     }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(a+=1)</td>
                                            <td>@item.eBookId</td>
                                            <td>@*<a target="_blank" href="@(studentlink+"kotobee/" + item.PdfPath)">*@@item.eBookTitle@*</a>*@ </td>
                                            <td><img height="50" width="50" src="@Url.Content("/Images/Thumbnail/"+item.ThumbnailPath)" alt="@item.eBookTitle" /></td>
                                            <td>@item.Year</td>
                                            <td>@(item.Status ? "Published" : "Unpublished")</td>
                                            <td>@item.CategoryName</td>
                                            <td><button class="btn btn-info" onclick="location.href='@Url.Action("AddeBook", "CommonViews", new { id = item.Id })'">Edit</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    @section Styles {
        @Styles.Render("~/bundles/datatables/css")
    }

    @section Scripts {
        @Scripts.Render("~/bundles/datatables/js")
        @Scripts.Render("~/bundles/datatablesBootstrap/js")
        @Scripts.Render("~/bundles/datatablesPlugins/js")

        <script type="text/javascript">

        $(function () {

            // JSON data
            var chartDataUrl = '@Url.Action("tableJsonData", "Tables")';

            // Initialize Example 1
            $('#example1').dataTable({
                "ajax": chartDataUrl,
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ]
            });

            // Initialize Example 2
            $('#example2').dataTable();

            });
        </script>
    }

