﻿@model Swunmath.Model.UserModel

@{
    ViewBag.Title = "Add User";
}

@using (Html.BeginForm("SaveUser", "User", FormMethod.Post))
{
    <div class="col-lg-10">
        <div class="hpanel">
            <div class="panel-heading">
                Add User
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Name:</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "Name" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Email:</label>
                            @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", id = "EmailID" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Password:</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Re-enter password:</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "ConfirmPassword" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        <input class="btn btn-default" type="button" onclick="Cancel()" value="Cancel" />
                        @*<button class="btn btn-default" type="submit">Cancel</button>*@
                        <input class="btn btn-primary" type="submit" value="Save Changes" onclick="return Validate()" />
                        @*<button class="btn btn-primary" type="submit">Save Changes</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function Cancel() {
        history.go(-1);
    }

    function Validate() {
        if ($("#Name").val().trim() == "") {
            alert("Please enter the name of the user.");
            return false;
        }

        var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
        
        if (!pattern.test($("#EmailID").val().trim())) {
            alert("Please enter a valid email Id.");
            return false;
        }

        if ($("#Password").val().trim() == "") {
            alert("Please provide a password for the user.");
            return false;
        }

        if ($("#Password").val().trim() != $("#ConfirmPassword").val().trim()) {
            alert("Password does not match with the confirm password.");
            return false;
        }

        return true;
    }
</script>