﻿
@{
    ViewBag.Title = "Change Successfull";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

<div class="alert alert-success">
    <strong>Success!</strong> Your password has been changed successfully. @Html.ActionLink("Click here",
                 "Login", 
                 "CommonViews", 
                 null, 
                 null 
                 ) to login.
</div>
