﻿@model Swunmath.Model.UserModel

@{
    ViewBag.Title = "Generate password";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

@using (Html.BeginForm("Changepassword", "User"))
{
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <img src="~/Images/swunmath_logo.png" alt="" width="250" height="auto" />
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>Password <strong>Recover</strong></h3>
                        <div style="background: #6a6c6f;width: 105px;height:5px;display: block;margin-bottom: 22px;"></div>
                        <form action="#" id="loginForm">
                            <input type="hidden" value="@Model.EmailID" name="UserName" class="hidden" />
                            <div class="form-group">
                                <label class="control-label" for="username">New Password</label>
                                <input type="password" title="Please enter the new password" name="NewPassword" id="Newpwd" class="form-control">
                                <span class="help-block small">Your new password</span>
                            </div>

                            <button type="submit" class="btn btn-success btn-xl btn-block" style="background: #004730; padding: 7px;font-size: 20px;margin-top: 20px;" onclick="return Validate();">
                                Change password
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    }

<script>
    function Validate() {
        if ($("#Newpwd").val().trim() == "") {
            alert("Please enter the new password.");
            return false;
        }
        return true;
    }
</script>