﻿@{
    /**/

    /**/

    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    //ViewBag.Title = "Login";
}


<style>
    body {
        background: url('../Content/img/loginBac.jpg');
        object-fit: cover;
        background-position: center center;
    }

    .color-line {
        display: none;
    }

    .hpanel .panel-body {
        border-radius: 20px;
        box-shadow: 0px 0px 10px #999;
    }
</style>
@using (Html.BeginForm("LogIn", "User"))
{
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <img src="~/Images/swunmath_logo.png" alt="" width="250" height="auto" />
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>Admin Panel <strong>Login</strong></h3>
                        <div style="background: #6a6c6f;width: 130px;height:5px;display: block;margin-bottom: 22px;"></div>
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <input type="text" placeholder="Email" title="Please enter your email" required="" value="" name="username" id="username" class="form-control" style="padding:20px 10px;">
                            </div>
                            <div class="form-group">
                                <input type="password" title="Please enter your password" placeholder="Password" required="" value="" name="password" id="password" class="form-control" style="padding:20px 10px;">
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" class="i-checks" name="Rememberme" checked>
                                Remember me

                                <div class="pull-right">
                                    <a href="/User/PasswordRecovery">Forgot Password?</a>
                                </div>
                            </div>
                            <div class="form-group alert-danger">
                                @(Convert.ToString(ViewBag.Error))
                            </div>
                            <button type="submit" class="btn btn-success btn-xl btn-block" onclick="return Validate()" style="background: #004730; padding: 7px;font-size: 20px;margin-top: 20px;">
                                Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
<div class="row" style="position:fixed;bottom:10px;width:100%;">
    <div class="col-md-12 text-center">
        Copyright © 2019 Swun Math. All rights reserved.
    </div>
</div>

<script>
    function Validate() {
        var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;

        if (!pattern.test($("#username").val().trim())) {
            alert("Please enter the valid Email Id of the user.");
            return false;
        }

        if ($("#password").val().trim() == "") {
            alert("Please enter the password.")
            return false;
        }
        return true;
    }
</script>