﻿@model IEnumerable<Swunmath.Model.UserModel>
    @{
        ViewBag.Title = "ManageUsers";
    }

    <div class="content">
        <div class="row">
            <div class="col-lg-12">

                <div class="hpanel">
                    <div class="panel-heading">
                        View Manage User
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <button class="btn btn-info" style="float:right;" onclick="location.href='@Url.Action("AddUser", "User",new { UserName = "" })'">+ Add</button><br /><br />
                            <table id="example2" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Created On</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int a = 0;}
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@(a += 1)</td>
                                            <td>@item.Name</td>
                                            <td>@item.EmailID</td>
                                            <td>@item.CreationDate.ToString("MM/dd/yyyy")</td>
                                            <td>@if(!@item.IsLoggedIn){<button  onclick="location.href='@Url.Action("LockUnlockUser", "User", new { UserName = item.EmailID })'" class="btn btn-info">@(item.IsLocked ? "Activate" : "Inactivate")</button>}</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    @section Styles {
        @Styles.Render("~/bundles/datatables/css")
    }

    @section Scripts {
        @Scripts.Render("~/bundles/datatables/js")
        @Scripts.Render("~/bundles/datatablesBootstrap/js")
        @Scripts.Render("~/bundles/datatablesPlugins/js")

        <script type="text/javascript">

        $(function () {

            // JSON data
            var chartDataUrl = '@Url.Action("tableJsonData", "Tables")';

            // Initialize Example 1
            $('#example1').dataTable({
                "ajax": chartDataUrl,
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ]
            });

            // Initialize Example 2
            $('#example2').dataTable();

        });

        </script>
    }



