﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Password Recovery";
}

<style>
    body {
        background: url('../Content/img/loginBac.jpg');
        object-fit: cover;
        background-position: center center;
    }

    .color-line {
        display: none;
    }

    .hpanel .panel-body {
        border-radius: 20px;
        box-shadow: 0px 0px 10px #999;
    }
</style>

@using (Html.BeginForm("SendRecoveryemail", "User"))
{
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <img src="~/Images/swunmath_logo.png" alt="" width="250" height="auto" />
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>Password <strong>Recover</strong></h3>
                        <div style="background: #6a6c6f;width: 105px;height:5px;display: block;margin-bottom: 22px;"></div>
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Email</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter you email adress" required="" value="" name="UserEmail" id="username" class="form-control">
                                <span class="help-block small">Your registered email address</span>
                            </div>

                            <button type="submit" class="btn btn-success btn-xl btn-block" style="background: #004730; padding: 7px;font-size: 20px;margin-top: 20px;" onclick="return Validate();">
                                Reset password
                            </button>                            
                        </form>
                        
                    </div>
                </div>
                @if (ViewBag.Message != "")
                {
                    <span class="alert alert-danger">@ViewBag.Message</span>
                }
            </div>
        </div>
    </div>
   
}
<div class="row" style="position:fixed;bottom:10px;width:100%;">
    <div class="col-md-12 text-center">
        Copyright © 2019 Swun Math. All rights reserved.
    </div>
</div>

<script>
    function Validate() {
        var pattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
        if (!pattern.test($("#username").val().trim())) {
            alert("Please enter the valid Email Id of the user.");
            return false;
        }
        else
            return true;
    }
</script>