﻿body {
}

.admintheme {
    width: 618px;
    overflow: hidden;
    padding: 18px;
    margin: 0 0 10px 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;    
}
